In [108]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
import os
import csv

In [ ]:
def gen(ruta_dataset,num_dataset):
    df = pd.

In [39]:
df = pd.read_csv('./DATASET-10_3/data-10-3.csv',header=None,sep='\t')

In [56]:
df.columns= ['grafo','subgrafo']

In [57]:
df

           grafo  subgrafo
0              0         0
1              1         0
2             10         0
3             11         0
4            100         0
5            101         0
6            110         0
7            111         0
8           1000         0
9           1001         0
10          1010         0
11          1011         0
12          1100         0
13          1101         0
14          1110         0
15          1111         0
16         10000         0
17         10001         0
18         10010         0
19         10011         0
20         10100         0
21         10101         0
22         10110         0
23         10111         0
24         11000         0
25         11001         0
26         11010         0
27         11011         0
28         11100         0
29         11101         0
...          ...       ...
994   1111100010       111
995   1111100011       111
996   1111100100       111
997   1111100101       111
998   1111100110       111
999   1111100111       111
1000  1111101000       111
1001  1111101001       111
1002  1111101010       111
1003  1111101011       111
1004  1111101100       111
1005  1111101101       111
1006  1111101110       111
1007  1111101111       111
1008  1111110000       111
1009  1111110001       111
1010  1111110010       111
1011  1111110011       111
1012  1111110100       111
1013  1111110101       111
1014  1111110110       111
1015  1111110111       111
1016  1111111000       111
1017  1111111001       111
1018  1111111010       111
1019  1111111011       111
1020  1111111100       111
1021  1111111101       111
1022  1111111110       111
1023  1111111111       111

[1024 rows x 2 columns]

In [64]:
df['grafo'] = [str(df['grafo'][i]).zfill(10) for i in range(len(df['grafo']))]

In [65]:
df['subgrafo'] = [str(df['subgrafo'][i]).zfill(3) for i in range(len(df['subgrafo']))]

In [66]:
df

           grafo subgrafo
0     0000000000      000
1     0000000001      000
2     0000000010      000
3     0000000011      000
4     0000000100      000
5     0000000101      000
6     0000000110      000
7     0000000111      000
8     0000001000      000
9     0000001001      000
10    0000001010      000
11    0000001011      000
12    0000001100      000
13    0000001101      000
14    0000001110      000
15    0000001111      000
16    0000010000      000
17    0000010001      000
18    0000010010      000
19    0000010011      000
20    0000010100      000
21    0000010101      000
22    0000010110      000
23    0000010111      000
24    0000011000      000
25    0000011001      000
26    0000011010      000
27    0000011011      000
28    0000011100      000
29    0000011101      000
...          ...      ...
994   1111100010      111
995   1111100011      111
996   1111100100      111
997   1111100101      111
998   1111100110      111
999   1111100111      111
1000  1111101000      111
1001  1111101001      111
1002  1111101010      111
1003  1111101011      111
1004  1111101100      111
1005  1111101101      111
1006  1111101110      111
1007  1111101111      111
1008  1111110000      111
1009  1111110001      111
1010  1111110010      111
1011  1111110011      111
1012  1111110100      111
1013  1111110101      111
1014  1111110110      111
1015  1111110111      111
1016  1111111000      111
1017  1111111001      111
1018  1111111010      111
1019  1111111011      111
1020  1111111100      111
1021  1111111101      111
1022  1111111110      111
1023  1111111111      111

[1024 rows x 2 columns]

In [69]:
X_train, X_test, y_train, y_test = train_test_split(df['grafo'], df['subgrafo'], test_size=0.7)

In [72]:
X_train.head()

455    0111000111
784    1100010000
367    0101101111
153    0010011001
226    0011100010
Name: grafo, dtype: object

In [73]:
y_train.head()

455    010
784    110
367    011
153    000
226    001
Name: subgrafo, dtype: object

In [76]:
df_train = pd.concat([X_train, y_train], axis=1)

In [77]:
df_test = pd.concat([X_test, y_test], axis=1)

In [118]:
len(df_train)

307

In [119]:
len(df_test)

717

In [131]:
def generate_mult_dataset(ruta_dir,file_name, num_G,num_SubG, num_dataset, test_size):
    df = pd.read_csv(ruta_dir+"/"+file_name,header=None,sep='\t')
    df.columns= ['grafo','subgrafo']
    df['grafo'] = [str(df['grafo'][i]).zfill(num_G) for i in range(len(df['grafo']))]
    df['subgrafo'] = [str(df['subgrafo'][i]).zfill(num_SubG) for i in range(len(df['subgrafo']))]
    for i in range(num_dataset):
        X_train, X_test, y_train, y_test = train_test_split(df['grafo'], df['subgrafo'], test_size=1-test_size)
        df_train = pd.concat([X_train, y_train], axis=1)
        df_test = pd.concat([X_test, y_test], axis=1)
        ruta = ruta_dir + "/dataset"+str(i);
        os.makedirs(ruta, exist_ok=True)
        r_train = ruta+"/train"+str(i)+".csv"
        df_train.to_csv(r_train,index=None,header=False,sep='\t',line_terminator='\r\n')
        r_test = ruta+"/test"+str(i)+".csv"
        df_test.to_csv(r_test,index=None,header=False,sep='\t',line_terminator='\r\n')
        
        row = str(len(df_train))+" "+str(num_G)+" "+str(num_SubG)+"\n"
        
        f = open(r_train,'r')
        temp = f.read()
        f.close()

        f = open(r_train, 'w')
        f.write(row)

        f.write(temp)
        f.close()
        
        
        row = str(len(df_test))+" "+str(num_G)+" "+str(num_SubG)+"\n"
        
        f = open(r_test,'r')
        temp = f.read()
        f.close()

        f = open(r_test, 'w')
        f.write(row)

        f.write(temp)
        f.close()
        
        
        
        del df_train
        del df_test
    del df

In [132]:
generate_mult_dataset('./DATASET-10_3','data-10-3.csv',10,3,10,0.7)

In [133]:
generate_mult_dataset('./DATASET-10_6','data-10-6.csv',10,6,10,0.7)